=2025/09/workflows/neMnqj7TuaVH7Nyb.json
{
  "active": false,
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "n8n vs GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base": {
      "main": [
        [
          {
            "node": "Edit for Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Edit for Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file1": {
      "main": [
        [
          {
            "node": "To base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Json file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - InputA": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - InputB": {
      "main": [
        [
          {
            "node": "Update workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n vs GitHub": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "If n8n before GitHub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create new workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode to json": {
      "main": [
        [
          {
            "node": "n8n vs GitHub",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit for Update": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit for Upload": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set GitHub Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set GitHub Details": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          },
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If n8n before GitHub": {
      "main": [
        [
          {
            "node": "Code - InputB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - InputA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Decode to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-15T14:28:15.795Z",
  "id": "neMnqj7TuaVH7Nyb",
  "isArchived": true,
  "meta": {
    "templateId": "5081",
    "templateCredsSetupCompleted": true
  },
  "name": "Agent? - Bidirectional GitHub Workflow Sync & Version Control for n8n Workflows 2 copy",
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.toJsonString()  }}",
        "requestOptions": {}
      },
      "id": "7d1b1c5d-3267-434d-9013-d6d045ebb197",
      "name": "Create new workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        2848,
        944
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "Rc0MxEUfVJEHL0o4",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "c274c0a8-9745-4d11-894d-2f9c20d90735",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        848,
        448
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.github_repo_name }}"
        },
        "filePath": "=/{{ $json.repo_workflows_path }}"
      },
      "id": "dece8e6c-1f30-45fc-a77c-3e8775d29d6d",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        1296,
        544
      ],
      "webhookId": "0dc31be3-85df-4ef6-a842-e26e0cd23d67",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "oXIY9B70fSML3C9r",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "b6c516f6-a4a9-4d2a-8893-2d67e10b191c",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1296,
        384
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "Rc0MxEUfVJEHL0o4",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "95dbe308-4b39-4366-bbcd-59216c9140ed",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        2784,
        64
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "8442cebf-cc63-463a-a02b-0e1ec102c9c3",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        3008,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## CHECK WHICH IS NEWER\n\n**IF TRUE** github workflow is the most recent, n8n to be updated\n\n**IF FALSE** n8n workflow is the most recent, github to be updated\n\n",
        "height": 400,
        "width": 340,
        "color": 3
      },
      "id": "6385a447-b8b8-48fa-82af-a3dbf4e1d41e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2736,
        336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $('Set GitHub Details').item.json.repo_workflows_path }}/{{ $node['Edit for Update'].json.fileName }}",
        "fileContent": "={{ $('To base').item.json.data }}",
        "commitMessage": "=n8n_backup_sync-{{ $('Edit for Update').item.json.commitDate }}"
      },
      "id": "44cb2926-3ffe-45d1-844a-a87afe650bdf",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        4352,
        688
      ],
      "webhookId": "eb5a4b5a-34ad-4046-846f-dd55dcd6bd9a",
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "oXIY9B70fSML3C9r",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "5b7a3c08-936b-4526-98c6-68f5b7b05a42",
      "name": "Json file1",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        3680,
        688
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "ecf99441-584e-4e00-8104-9f84c5cdab37",
      "name": "To base",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        3904,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            },
            {
              "field1": "=",
              "field2": "={{ $json.sha !== undefined }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f4a90172-b632-4de4-b98a-1669d020496c",
      "name": "n8n vs GitHub",
      "type": "n8n-nodes-base.compareDatasets",
      "position": [
        2416,
        416
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.dataset.id }}"
        },
        "workflowObject": "={{ $json.dataset.toJsonString() }}",
        "requestOptions": {}
      },
      "id": "bb08c8b4-c8bb-411e-8ecf-6175930e067d",
      "name": "Update workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        3456,
        464
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "Rc0MxEUfVJEHL0o4",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Get the desired workflow name\nworkflow_id = _('If n8n before GitHub').first().json['same']['id']\n\n# Get all decoded workflow items\nall_decoded = _('Decode to json').all()\n\n# Filter for the matching one\nmatched = [\n    item.json \n    for item in all_decoded \n    if item.json.get('id') == workflow_id\n]\n\n# If there's a match, return it (or empty if none)\nif matched:\n    return [{'json': {'dataset': matched[0]}}]\nelse:\n    return []\n"
      },
      "id": "71323384-0b3c-4b9a-8d0b-f25f84bf155f",
      "name": "Code - InputB",
      "type": "n8n-nodes-base.code",
      "position": [
        3232,
        464
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Get the desired workflow name\nworkflow_id = _('If n8n before GitHub').first().json['same']['id']\n\n# Get all decoded workflow items\nall_decoded = _('n8n').all()\n\n# Filter for the matching one\nmatched = [\n    item.json \n    for item in all_decoded \n    if item.json.get('id') == workflow_id\n]\n\n# If there's a match, return it (or empty if none)\nif matched:\n    return [{'json': {'dataset': matched[0]}}]\nelse:\n    return []\n"
      },
      "id": "c5a60acb-ba29-4735-b6e1-e76c8a23bf10",
      "name": "Code - InputA",
      "type": "n8n-nodes-base.code",
      "position": [
        3232,
        688
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.dataset }}",
        "options": {}
      },
      "id": "f0364d92-94e5-40a4-b100-5e64a877d3cb",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        3456,
        688
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{$('n8n vs GitHub').item.json.name\n.trim().replace(/\\s+/g, '-').toLowerCase()\n}}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "92c148bc-a191-428c-91c2-7a5a60bfd96b",
      "name": "Edit for Upload",
      "type": "n8n-nodes-base.set",
      "position": [
        3232,
        64
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{\n$('Code - InputA').item.json.dataset.name.trim().replace(/\\s+/g, '-').toLowerCase()\n}}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "80e4889c-fb44-4d4c-ac37-88a7a3897d39",
      "name": "Edit for Update",
      "type": "n8n-nodes-base.set",
      "position": [
        4128,
        688
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## IF ONLY IN N8N\nUpdate GitHub with the relevant workflows",
        "height": 320,
        "width": 1000
      },
      "id": "85a239c2-781a-4d99-bef2-173ac80062f3",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2736,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## IF ONLY IN GITHUB\nCreate new workflow in n8n",
        "height": 340,
        "width": 340,
        "color": 6
      },
      "id": "00ad86a5-c122-44d1-983b-d01260171d1f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2736,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8ccf743b-3a66-44c0-a30b-72a1d4bcf60b",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              },
              "leftValue": "={{ $json.different.updatedAt.inputA }}",
              "rightValue": "={{ $json.different.updatedAt.inputB }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5feeb551-77ef-4cdc-b54a-aaa5bca1297e",
      "name": "If n8n before GitHub",
      "type": "n8n-nodes-base.if",
      "position": [
        2848,
        560
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{  $json.content.base64Decode() }}\n\n",
        "includeOtherFields": true,
        "options": {}
      },
      "id": "126b9162-cac6-4905-92e3-306317ceea57",
      "name": "Decode to json",
      "type": "n8n-nodes-base.set",
      "position": [
        2192,
        544
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b9ed0bad-4ebe-4378-807e-1a6082c4461d",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "leftValue": "={{ $json.name }}",
              "rightValue": "placeholder"
            }
          ]
        },
        "options": {}
      },
      "id": "6470a0c3-19d9-4e54-a7d4-b0b720508004",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        1520,
        544
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "850e7497-0f2f-470e-a5a2-a85a0c12aaa2",
              "name": "github_account_name",
              "type": "string",
              "value": "bpms-hub"
            },
            {
              "id": "5c2be15a-cb93-4fe4-a512-03a1880b8713",
              "name": "github_repo_name",
              "type": "string",
              "value": "n8n-vc_repo"
            },
            {
              "id": "f4f1f0c3-7a89-427c-942f-d0e74ba4583f",
              "name": "repo_workflows_path",
              "type": "string",
              "value": "2025/08/backups"
            }
          ]
        },
        "options": {}
      },
      "id": "60aa305f-b2a1-437c-a097-dc8ae6d3e4bb",
      "name": "Set GitHub Details",
      "type": "n8n-nodes-base.set",
      "position": [
        1072,
        448
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{$json.path}}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "70413abb-c601-4e73-bab5-5c26ceac40f0",
      "name": "Get a file",
      "type": "n8n-nodes-base.github",
      "position": [
        1744,
        544
      ],
      "webhookId": "828a537b-c6eb-4648-83d6-b1588d73d0a5",
      "typeVersion": 1.1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "oXIY9B70fSML3C9r",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Assume $json is the original input (with sha, content, etc.)\nconst decoded = Buffer.from($json.content, 'base64').toString('utf8');\nlet parsed;\ntry {\n  parsed = JSON.parse(decoded);\n} catch (e) {\n  throw new Error('Decoded content is not valid JSON');\n}\n\n// Merge original fields (sha, path, etc.) with parsed content\nreturn [{\n  json: {\n    ...$json,      // includes sha, path, etc.\n    decoded: parsed // or spread ...parsed if you want to flatten\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        544
      ],
      "id": "be9f4ba4-f295-45d9-95fd-2da0790fded7",
      "name": "Code"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_account_name }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set GitHub Details').item.json.github_repo_name }}"
        },
        "filePath": "={{ $('Set GitHub Details').item.json.repo_workflows_path }}/{{ $node['Edit for Upload'].json.fileName }}",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=n8n_backup_sync-{{ $node['Edit for Upload'].json.commitDate }}"
      },
      "id": "27fcd4e0-6221-42b7-ba19-7e0e43c38cc3",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        3440,
        64
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "oXIY9B70fSML3C9r",
          "name": "GitHub account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "bpms-hub",
    "name": "n8n-vc_repo"
  },
  "settings": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-08-04T20:13:58.739Z",
      "updatedAt": "2025-08-04T20:13:58.739Z",
      "id": "zIWpEocoNxy2tecP",
      "name": "Lonely Octopus"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-08-15T15:48:05.000Z",
  "versionId": "92e7a3b7-42ac-4125-b2d9-cedecf37aba2"
}