2025/08/backups/_email-agent.json
{
  "createdAt": "2025-08-10T16:37:02.560Z",
  "updatedAt": "2025-08-13T20:41:15.000Z",
  "id": "Y7gTBJu43jpJXXMh",
  "name": "_Email Agent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }} \n\nYour role is to manage the user’s emails professionally using the tools you have access to for sending emails. Use the send email to compose and send messages. Use the create draft to save an email draft upon request. Get emails to retrieve messages when needed. Label email—flag but this requires message ID from get email. You’re identifying and giving it exact prompts on when to use each of these tools.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        720,
        352
      ],
      "id": "6db7c4f4-4842-4ef8-ad12-87c8a635986c",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        496,
        576
      ],
      "id": "ec84ce69-7904-45f0-aeb6-e8165bc8863f",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "jQR7uGa0YGZ17Ov7",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Always sign off emails as \"Bob\"`, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        624,
        576
      ],
      "id": "ac37f9e5-cd69-4d7a-b821-d2067a5263b8",
      "name": "Send a message in Gmail",
      "webhookId": "dd1de41e-a398-4ae7-acf6-778090346ba1",
      "credentials": {
        "gmailOAuth2": {
          "id": "bQvnHcTvkeJSh8m2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        752,
        576
      ],
      "id": "1eb82e55-7664-4680-b6e9-cc5e22cbb6ce",
      "name": "Reply to a message in Gmail",
      "webhookId": "de71ff39-0106-4002-bf9b-5a2c3ace5c9e",
      "credentials": {
        "gmailOAuth2": {
          "id": "bQvnHcTvkeJSh8m2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "html",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        880,
        576
      ],
      "id": "7b2ef516-eb56-4ceb-8f7d-b4825cf6b21c",
      "name": "Create a draft in Gmail",
      "webhookId": "820e5e44-bc57-4b38-aa60-a3a1516ad1cc",
      "credentials": {
        "gmailOAuth2": {
          "id": "bQvnHcTvkeJSh8m2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1008,
        576
      ],
      "id": "878d4ff2-46de-4ad8-8484-c4d96c5e2819",
      "name": "Get many messages in Gmail",
      "webhookId": "65eccf90-d4fe-4a4c-9acd-3832b9b561ad",
      "credentials": {
        "gmailOAuth2": {
          "id": "bQvnHcTvkeJSh8m2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1136,
        576
      ],
      "id": "cc0be6cb-1c53-4043-b075-120750103617",
      "name": "Add label to message in Gmail",
      "webhookId": "5f84ef0d-a05c-40b0-a06a-3cd3e6734859",
      "credentials": {
        "gmailOAuth2": {
          "id": "bQvnHcTvkeJSh8m2",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Send an email to nate@example.com with the subject Spam!"
        }
      },
      {
        "json": {}
      }
    ]
  },
  "versionId": "38cd746f-8feb-4986-82ae-c91f92ccf08f",
  "triggerCount": 0,
  "tags": []
}