2025/08/backups/_sheets-agent.json
{
  "createdAt": "2025-08-11T23:13:39.265Z",
  "updatedAt": "2025-08-11T23:22:25.000Z",
  "id": "5R2uNToQbD453MDh",
  "name": "_Sheets Agent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11GuM4l5CekaZy9_RNmsEdxZ3mru88QIR4J06Ihjr8x8",
          "mode": "list",
          "cachedResultName": "Analytics dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11GuM4l5CekaZy9_RNmsEdxZ3mru88QIR4J06Ihjr8x8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1882856635,
          "mode": "list",
          "cachedResultName": "NightlySummary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11GuM4l5CekaZy9_RNmsEdxZ3mru88QIR4J06Ihjr8x8/edit#gid=1882856635"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically",
              "readRowsUntil": "firstEmptyRow"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        656,
        592
      ],
      "id": "ea49db44-a919-4702-a8d0-119cea752770",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kOeJv9ACT74Bk3jB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }} \n\nYour role is to manage the user’s sheets professionally using the tools you have access to for creating, editing, and gathering sheets cells and rows.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        528,
        352
      ],
      "id": "c35550f9-75e2-41f8-a117-dc886d39208e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "11GuM4l5CekaZy9_RNmsEdxZ3mru88QIR4J06Ihjr8x8",
          "mode": "list",
          "cachedResultName": "Analytics dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11GuM4l5CekaZy9_RNmsEdxZ3mru88QIR4J06Ihjr8x8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1882856635,
          "mode": "list",
          "cachedResultName": "NightlySummary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11GuM4l5CekaZy9_RNmsEdxZ3mru88QIR4J06Ihjr8x8/edit#gid=1882856635"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date/Time",
              "displayName": "Date/Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sales USD",
              "displayName": "Sales USD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ReservationCount",
              "displayName": "ReservationCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LowStockItems",
              "displayName": "LowStockItems",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FeaturedDrink",
              "displayName": "FeaturedDrink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "InstagramLikes",
              "displayName": "InstagramLikes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PromoPosted",
              "displayName": "PromoPosted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        800,
        592
      ],
      "id": "732cbdb1-b938-41e3-b49f-a36ec12ff049",
      "name": "Append or update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kOeJv9ACT74Bk3jB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-5-nano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        464,
        592
      ],
      "id": "8143c16a-bf9f-45c7-af9c-2a3c19fb2f40",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "jQR7uGa0YGZ17Ov7",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "cf7564eb-2c66-4485-a24d-749cfd551dd5",
  "triggerCount": 0,
  "tags": []
}